.home{
    position: relative;
    top: 0;

    width: 100%;
}

.logo {
    pointer-events: none;
    user-select: none;
    position: absolute;
    height: min(50vh, 512px);
    width: auto;
    z-index: 9;
}

.video-holder {
    overflow: hidden;
    max-height: 50vh;
    width: 100%;
    left: 0;
}

.video {
    top: -55%;
    width: auto;
    height: 75vw;
}

@media screen and (max-width: 1600px) {
    .video {
        top: 0;
        left: -10%;
        height: 70vw;
    }
}

@media screen and (max-width: 1200px) {

    .video {
        height: 80vw;
    }
}

@media screen and (max-width: 950px) {
    .video {
        height: 90vw;
    }
}