.instaFeed {
    width: 100%;
    height: 250px;

    border-bottom: 5px solid var(--licorice);

    overflow: hidden;

    display: flex;

}



.content> video,img{
    width: auto;
    height: 250px;
}