.navbar {
    letter-spacing: 2px;

    display: flex;
    flex-direction: column;

    align-items: center;
    text-align: center;
}

.nav,
.mobile-nav {
    position: absolute;
    top: 75px;

    z-index: 999;

    background-color: var(--lavender_pink);

    width: 100%;
    height: 50px;

    border: 2.5px solid var(--licorice);
    border-left: none;
    border-right: none;

    display: flex;
    flex-direction: row;
    justify-content: space-around;

    transition: all .5s ease-in-out, top 0s;
}

.nav.sticky,
.mobile-nav.sticky {
    position: fixed;
    top: 0px;

    transition: top 0s;
}

.title-holder {
    top: 0;
    margin: 0;
    padding: 0;
    height: 75px;
}

.title {
    line-height: 40px;
    margin: 0;
    font-size: min(5vw, 48px);
    font-weight: 500;
    letter-spacing: 8px;

    color: var(--amaranth_purple)
}

.sub-text {
    font-size: 16px;
    margin: 0;
    margin-bottom: 1vh;
    margin-top: 1vh;

    font-weight: 400;
    color: var(--lavender_pink);
}

.nav-option,
.mobile-nav-option {
    user-select: none;

    display: flex;
    align-items: center;

    font-size: 24px;
    font-weight: 600;


    color: var(--amaranth_purple);
    -webkit-text-fill-color: transparent;

    background-size: 200% 100%;
    background-position: top left;
    -webkit-background-clip: text;
    background-image: linear-gradient(to right, var(--amaranth_purple), var(--amaranth_purple) 33.33333%, var(--dogwood_rose) 66.66666%, var(--amaranth_purple));

    transition: font-weight, .2s linear, font-size .2s linear, background-position 1s linear;

}

.nav-option.selected {
    color: var(--alice_blue);
    -webkit-text-fill-color: var(--alice_blue);
}

.nav-option:hover,
.mobile-nav-option:hover {
    font-weight: 700;
    font-size: 32px;

    animation: colorflash 4s infinite;
}

@media (max-width: 650px) {
    .sub-text {
        font-size: 12px;
    }
}

@keyframes colorflash {
    from {
        background-size: 200% 100%;
        background-position: top left;
    }

    50% {
        background-position: top left 100%;
    }

    to {
        background-size: 200% 100%;
        background-position: top left;
    }
}

/* MOBILE NAV */
.mobile-navbar {
    letter-spacing: 2px;

    display: flex;
    flex-direction: column;

    align-items: center;
    text-align: center;
}

.mobile-nav-option {
    visibility: visible;
    opacity: 1;

    font-weight: 700;
    font-size: 32px;

    animation: colorflash 6s infinite;


    display: inline;
    justify-content: center;
    transition: font-size .4s ease-in, font-weight, .4s linear, background-position 1s linear, opacity 1s linear;
    -webkit-transition: font-size .4s ease-in, font-weight, .4s linear, background-position 1s linear, opacity 1s linear;

}

.mobile-nav-option.hidden {
    visibility: hidden;
    opacity: 0;
    font-size: 1px;

    transition: all .1s;
}

.mobile-nav.opened {
    height: 105vh;
    transition: height .4s linear;
}

.mobile-nav.sticky {
    top: -5px;
    transition: height .4s linear;
}

.mobile-menu {
    display: flex;
    flex-direction: column;

    width: 100%;
}

.menu-control {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

.mobile-options {
    height: 75%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

/* SHOPPING CART */
.shopping-cart{
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    left: 8px;

    cursor: pointer;
    user-select: none;
}

.cart {
    height: 32px;
    width: 32px;
}

.item-count {
    color: var(--alice_blue);
    font-size: 32px;
}