.shop-item {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}


.item-img-wrapper {
    width: 100%;
    height: 75%;

    display: flex;

    overflow: hidden;
    position: relative;

    align-items: center;
    justify-content: center;

    background-color: var(--alice_blue);
}


.item-title {
    height: 12.5%;
    width: 100%;

    background-color: var(--licorice);
    border-bottom: 2.5px solid var(--amaranth_purple);
    color: var(--lavender_pink);

    display: flex;
    justify-content: center;
    align-items: center;
}


.item-title>h3 {
    margin: 0;
}

/* CONTROLS*/

/* Button */
.shop button {
    cursor: pointer;
    height: 12.5%;
    width: 100%;

    background-color: var(--amaranth_purple);

    border: none;
    border-top: 2.5px solid var(--licorice);

    font-weight: 700;
    font-size: 24px;
    color: var(--alice_blue);

    /* box-shadow: inset 0 0 8px var(--lavender_pink); */

    /* background-image: linear-gradient(var(--amaranth_purple), var(--licorice)); */
}

/* Back < */
.prev-item {
    position: fixed;
    z-index: 2;

    left: 2.5%;

    cursor: pointer;
    font-size: 64px;

    color: var(--amaranth_purple);
    transition: all .2s linear;

}

/* Forward > */
.next-item {
    position: fixed;
    z-index: 2;

    right: 2.5%;

    cursor: pointer;
    font-size: 64px;

    color: var(--amaranth_purple);
    transition: all .2s linear;
}

.prev-item:hover,
.next-item:hover {
    font-size: 72px;
}

/* CAROUSEL */

.carousel-wrapper {
    position: absolute;
    height: calc((80vh - 125px) * .8);
    width: 0px;
    left: 0px;

    background-color: white;


    transition: left 1s;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.carousel-items {
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-item-wrapper {
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-item-wrapper>img {
    height: 75%;
    width: auto;
    mix-blend-mode: normal;
}

/* Background Image */

.item-bg-wrapper {
    position: absolute;
    height: 100%;
    z-index: 1;

    overflow: hidden;
}

.item-img-bg {
    position: relative;
    left: 5%;
    top: -5%;

    width: 75%;
    height: auto;

    opacity: .25;
    /* mix-blend-mode: multiply; */

    filter: blur(8px);
    transition: all 1s linear;
}


.item-img-bg.blur {
    opacity: 0;
}