:root {
    --dogwood_rose: #D90368;
    --lavender_pink: #F7ACCF;
    --amaranth_purple: #ff0098;
    --alice_blue: #E8F0FF;
    --licorice: #0E0004;

    background-color: var(--alice_blue);
    width: 100%;
    height: 100%;

    overflow-x: hidden;
    padding: 0;
    margin: 0;
}